/* Color Pallete */
body {
    background: lavender;
}
footer {
    background: antiquewhite;
}

/* LAYOUT */
* {
    box-sizing: border-box;
}

/* NAV */
footer {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

footer a {
    display: inline;
    padding: 1em;
}
/*First Frame*/
footer a {
    text-indent: -1000px;
    transition: text-indent 1s;
}
/*Last Frame*/
footer:hover a {
    text-indent: 0;
}